@model RegisterDataViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="container mt-5 mb-4">
    <div class="row gy-5 justify-content-center">
        <div class="col-md-5">
            <h2>Log in</h2>
            <hr />

            <form asp-action="Login" method="post">
                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Username</label>
                    <input type="text" class="form-control" asp-for="Username" placeholder="" />
                </div>

                <div class="mb-3">
                    <label for="passwordInput" class="form-label">Password</label>
                    <input type="password" class="form-control" asp-for="Password" placeholder="" />
                </div>

                <button type="submit" class="btn btn-primary">Log in</button>
            </form>

        </div>
        <div class="col-md-1 d-none d-md-flex">
            <div class="vr mx-auto"></div>
        </div>
        <div class="col-md-5">
            <h2>Register</h2>
            <hr />
            <form method="post">
                <div class="mb-3">
                    <label for="firstNameInput" class="form-label">First Name</label>
                    <input type="text" class="form-control" asp-for="FirstName" placeholder="" />
                </div>
                <div class="mb-3">
                    <label for="lastNameInput" class="form-label">Last Name</label>
                    <input type="text" class="form-control" asp-for="LastName" placeholder="" />
                </div>
                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Username</label>
                    <input type="text" class="form-control" asp-for="Username" placeholder="" />
                </div>
                <div class="mb-3">
                    <label for="emailInput" class="form-label">Email</label>
                    <input type="text" class="form-control" asp-for="Email" placeholder="" />
                </div>
                <div class="mb-3">
                    <label for="passwordInput" class="form-label">Password</label>
                    <input type="password" class="form-control" asp-for="Password" placeholder="" />
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>


