@using THIA_Tech.Services
@using Microsoft.AspNetCore.Identity;
@using THIA_Tech.Models
@inject UserManager<User> userManager;
@inject IOrderService orderService;
@{
    ViewData["Title"] = "Index";

}
<h1 class="mt-3">Order history</h1>
<hr />
 <div class="container mt-5">
        <h2>@userManager.GetUserName(User)'s orders</h2>
    
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Address</th>
                        <th>Order Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in orderService.GetAllOrders(userManager.GetUserId(User)).Result)
                    {
                        <tr>
                            <td>@order.Id</td>
                            <td>@order.Address</td>
                            <td>@order.OrderDate.ToString("MM/dd/yyyy")</td>
                        </tr>
                    }
                </tbody>
            </table>
        
